@inherits LayoutComponentBase
<MudThemeProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>

<MudLayout>
    
    <div class="Navigation">
        <NavMenu />
    </div>
    <MudMainContent>
        @Body
    </MudMainContent>
</MudLayout>