@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

.container-item {
    flex: 1;
    display: flex;
    justify-content: center;
}

.container-item:first-child > * { margin-right: auto; }
.container-item:last-child > * { margin-left: auto; }