@page "/Setup"

<PageTitle>Setup</PageTitle>

<MudContainer>
    <MudGrid>
        <MudItem md="6">
            <MudCard>
                <MudCardHeader>Database Configuration</MudCardHeader>
                <MudCardContent>
                    Content
                </MudCardContent>
            </MudCard>
        </MudItem>
        
        <MudItem md="6">
            <MudCard>
                <MudCardHeader>Auth Integrations</MudCardHeader>
                <MudCardContent>
                    <MudPaper>
                        <MudText Typo="Typo.h3">Microsoft</MudText>
                    </MudPaper>
                    
                    <MudPaper>
                        <MudText Typo="Typo.h3">Discord</MudText>
                    </MudPaper>
                    
                    <MudPaper>
                        <MudText Typo="Typo.h3">GitHub</MudText>
                    </MudPaper>
                    
                    <MudPaper>
                        <MudText Typo="Typo.h3">Google</MudText>
                    </MudPaper>
                </MudCardContent>
            </MudCard>
        </MudItem>
    </MudGrid>
</MudContainer>
<h3>Setup</h3>
